<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato|Nunito" rel="stylesheet">

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicons/fire.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper" id="background">
        <div class="cover-container">
        
          <div class="nav-header">
            <%= render "shared/application_nav" %>
          </div>

          <%= yield %>

          
          
          <%= alerts %>

        </div>
          <footer>
            <%= render "shared/application_footer" %>
          </footer>
      </div>
  </body>
</html>